# Build and Release Folders
bin-debug/
bin-release/
robot/Framework
robot/Data
robot/Linux
robot/server
audio/libsoundio-master
action/www/
[Oo]bj/
[Bb]in/
action/action_script

# Other files and folders
.settings/

# Executables
*.o
*.asc
*.txt
*.ini
*.swf
*.air
*.ipa
*.apk
*.js
*.ico
*.html

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
